<a href="https://colab.research.google.com/github/DanielCordeiro11/Reposit-1/blob/main/Atividade_Listas_em_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 - Faça um Programa que peça a idade e a altura de 5 pessoas, armazene cada informação no seu respectivo vetor. Imprima a idade e a altura na ordem inversa a ordem lida.

In [ ]:
idades = []
alturas = []

for i in range(5):
  idade = int(input(f'Digite a {i+1} idade: '))
  altura = float(input(f'Digite a {i+1} altura: '))
  idades.append(idade)
  alturas.append(altura)

print('\nIdades | Alturas')
for i in range(4, -1, -1):
  print(f'{idades[i]} | {alturas[i]:.2f}')

Digite a 1 idade: 34
Digite a 1 altura: 1.45
Digite a 2 idade: 23
Digite a 2 altura: 2.00
Idades | Alturas
23 | 2.00

34 | 1.45

2 - Faça um Programa que leia um vetor A com 10 números inteiros, calcule e mostre a soma dos quadrados dos elementos do vetor.

In [ ]:
vetor_A = [10]

for i in range(10):
  numero = int(input(f'Digite o {i+1} numero inteiro para o vetor A: '))
  vetor_A.append (numero)


  soma_quadrados = sum(x**2 for x in vetor_A)

print(f'\nSoma dos quadrados dos elementos do vetor A:{soma_quadrados}  ')

Digite o 1 numero inteiro para o vetor A: 2
Digite o 2 numero inteiro para o vetor A: 3
Digite o 3 numero inteiro para o vetor A: 4
Digite o 4 numero inteiro para o vetor A: 5
Digite o 5 numero inteiro para o vetor A: 6
Digite o 6 numero inteiro para o vetor A: 7
Digite o 7 numero inteiro para o vetor A: 8
Digite o 8 numero inteiro para o vetor A: 9
Digite o 9 numero inteiro para o vetor A: 10
Digite o 10 numero inteiro para o vetor A: 11

Soma dos quadrados dos elementos do vetor A:605

3 - Faça um Programa que leia dois vetores com 10 elementos cada. Gere um terceiro vetor de 20 elementos, cujos valores deverão ser compostos pelos elementos intercalados dos dois outros vetores.

In [ ]:
vetor1 = []
vetor2 = []

for i in range(10):
    elemento1 = int(input(f'Digite o {i+1}º elemento do vetor 1: '))
    elemento2 = int(input(f'Digite o {i+1}º elemento do vetor 2: '))
    vetor1.append(elemento1)
    vetor2.append(elemento2)

vetor_intercalado = [val for pair in zip(vetor1, vetor2) for val in pair]

45print(f'\nVetor 1: {vetor1}')
print(f'Vetor 2: {vetor2}')
print(f'Vetor Intercalado: {vetor_intercalado}')

Digite o 1º elemento do vetor 1: 4
Digite o 1º elemento do vetor 2: 3
Digite o 2º elemento do vetor 1: 6
Digite o 2º elemento do vetor 2: 4
Digite o 3º elemento do vetor 1: 2
Digite o 3º elemento do vetor 2: 6
Digite o 4º elemento do vetor 1: 5
Digite o 4º elemento do vetor 2: 3
Digite o 5º elemento do vetor 1: 1
Digite o 5º elemento do vetor 2: 3
Digite o 6º elemento do vetor 1: 4
Digite o 6º elemento do vetor 2: 5
Digite o 7º elemento do vetor 1: 6
Digite o 7º elemento do vetor 2: 4
Digite o 8º elemento do vetor 1: 3
Digite o 8º elemento do vetor 2: 2
Digite o 9º elemento do vetor 1: 34
Digite o 9º elemento do vetor 2: 65
Digite o 10º elemento do vetor 1: 34
Digite o 10º elemento do vetor 2: 75

Vetor 1: [4, 6, 2, 5, 1, 4, 6, 3, 34, 34]
Vetor 2: [3, 4, 6, 3, 3, 5, 4, 2, 65, 75]
Vetor Intercalado: [4, 3, 6, 4, 2, 6, 5, 3, 1, 3, 4, 5, 6, 4, 3, 2, 34, 65, 34, 75]

4 - Altere o programa anterior, intercalando 3 vetores de 10 elementos cada.

In [ ]:
vetor1 = []
vetor2 = []
vetor3 = []

for i in range(10):
    elemento1 = int(input(f'Digite o {i+1}º elemento do vetor 1: '))
    elemento2 = int(input(f'Digite o {i+1}º elemento do vetor 2: '))
    elemento3 = int(input(f'Digite o {i+1}º elemento do vetor 3: '))
    vetor1.append(elemento1)
    vetor2.append(elemento2)
    vetor3.append(elemento3)

vetor_intercalado = [val for triple in zip(vetor1, vetor2, vetor3) for val in triple]

print(f'\nVetor 1: {vetor1}')
print(f'Veetor 2: {vetor2}')
print(f'Veetor 3: {vetor3}')
print(f'Vetor Intercalado: {vetor_intercalado}')

Digite o 1º elemento do vetor 1: 3
Digite o 1º elemento do vetor 2: 45
Digite o 1º elemento do vetor 3: 2
Digite o 2º elemento do vetor 1: 67
Digite o 2º elemento do vetor 2: 45
Digite o 2º elemento do vetor 3: 4
Digite o 3º elemento do vetor 1: 3
Digite o 3º elemento do vetor 2: 23
Digite o 3º elemento do vetor 3: 54
Digite o 4º elemento do vetor 1: 34
Digite o 4º elemento do vetor 2: 23
Digite o 4º elemento do vetor 3: 5
Digite o 5º elemento do vetor 1: 65
Digite o 5º elemento do vetor 2: 345
Digite o 5º elemento do vetor 3: 432
Digite o 6º elemento do vetor 1: 357
Digite o 6º elemento do vetor 2: 4
Digite o 6º elemento do vetor 3: 34
Digite o 7º elemento do vetor 1: 54
Digite o 7º elemento do vetor 2: 65
Digite o 7º elemento do vetor 3: 34
Digite o 8º elemento do vetor 1: 235
Digite o 8º elemento do vetor 2: 347
Digite o 8º elemento do vetor 3: 235
Digite o 9º elemento do vetor 1: 43
Digite o 9º elemento do vetor 2: 3
Digite o 9º elemento do vetor 3: 234
Digite o 10º elemento do vetor 1: 235
Digite o 10º elemento do vetor 2: 5
Digite o 10º elemento do vetor 3: 345

Vetor 1: [3, 67, 3, 34, 65, 357, 54, 235, 43, 235]
Veetor 2: [45, 45, 23, 23, 345, 4, 65, 347, 3, 5]
Veetor 3: [2, 4, 54, 5, 432, 34, 34, 235, 234, 345]
Vetor Intercalado: [3, 45, 2, 67, 45, 4, 3, 23, 54, 34, 23, 5, 65, 345, 432, 357, 4, 34, 54, 65, 34, 235, 347, 235, 43, 3, 234, 235, 5, 345]

5 - Foram anotadas as idades e alturas de 10 alunos. Faça um Programa que determine quantos alunos com mais de 13 anos possuem altura inferior à média de altura desses alunos.

In [ ]:
idades = []
alturas = []

for i in range(10):
    idade = int(input(f'Digite a idade do aluno {i + 1}: '))
    altura = float(input(f'Digite a altura (em metros) do aluno {i + 1}: '))
    idades.append(idade)
    alturas.append(altura)

media_alturas = sum(alturas) / len(alturas)

contador = 0
for i in range(10):
    if idades[i] > 13 and alturas[i] < media_alturas:
        contador += 1

print(f'Número de alunos com mais de 13 anos e altura inferior à média: {contador}')

Digite a idade do aluno 1: 12
Digite a altura (em metros) do aluno 1: 1.45
Digite a idade do aluno 2: 13
Digite a altura (em metros) do aluno 2: 2
Digite a idade do aluno 3: 24
Digite a altura (em metros) do aluno 3: 4
Digite a idade do aluno 4: 23
Digite a altura (em metros) do aluno 4: 25
Digite a idade do aluno 5: 24
Digite a altura (em metros) do aluno 5: 13
Digite a idade do aluno 6: 35
Digite a altura (em metros) do aluno 6: 57
Digite a idade do aluno 7: 34
Digite a altura (em metros) do aluno 7: 23
Digite a idade do aluno 8: 12
Digite a altura (em metros) do aluno 8: 35
Digite a idade do aluno 9: 23
Digite a altura (em metros) do aluno 9: 53
Digite a idade do aluno 10: 23
Digite a altura (em metros) do aluno 10: 12
Número de alunos com mais de 13 anos e altura inferior à média: 3